
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Duplicate ID</h1>
    <a asp-action="Index" >Back to list</a>
</body>
</html>
