@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using KFC_Food.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KFC_Food</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/7/7e/Logo_KFC.svg/1200px-Logo_KFC.svg.png" style="width:40px;height:40px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @{
                            TblUser user = null;
                            try
                            {
                                user = JsonConvert.DeserializeObject<TblUser>(Context.Session.GetString("User"));
                            }
                            catch
                            {

                            }
                            if (user == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item" style="margin-left:600px">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="ShowToCart">
                                        <img src="https://www.pngkit.com/png/detail/116-1169537_cart-png-clipart-icon-gi-hng-png.png" style="width:40px;height:25px;" />

                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Login">Sign in</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="RegisterForm">Sign Up</a>

                                </li>
                            }
                            else
                            {
                                if (user.RoleId.Equals("CT"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    <li class="nav-item" style="margin-left:600px">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="ShowToCart">
                                            <img src="https://www.pngkit.com/png/detail/116-1169537_cart-png-clipart-icon-gi-hng-png.png" style="width:40px;height:25px;" />

                                        </a>
                                    </li>
                                    <li style="border-style:outset;border-width:3px;border-radius:10px; " class="nav-item">
                                        <a class="nav-link text-dark" asp-area="">@user.Name</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"   asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li style="margin-left:770px" class="nav-item">
                                        <a class="nav-link text-dark" asp-area="">@user.Name</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                    </li>
                                }


                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - KFC_Food - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
